version: '3.8'
services:
  tinybank-db:
    image: postgres:16
    container_name: tiny-bank-postgres
    environment:
      POSTGRES_DB: tinybank-db
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: admin
    ports:
      - "5433:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    restart: always

volumes:
  postgres_data: